.mazeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.maze-square {
    width: 9rem;
    height: 9rem;
    border-radius: 2.5rem;
}

.maze {
    display: grid;
    gap: 1.5rem;
}

.path {
    background-color: #A8E8FF;
}

.wall {
    background-color: #528EA4;
}

.header {
    width: 100vw;
    height: 10rem;
    margin-bottom: 5rem;
}

.buttons-container {
    position: fixed;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
}

.button {
    width: 10rem;
    height: 10rem;
    background-color: #FA9308;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    position: relative;
    left: 2rem;
    margin-top: 20rem;
}

#right {
    position: relative;
    right: 2rem;
    margin-top: 20rem;
}

#up {
    position: relative;
    top: 2rem;
}

#down {
    position: relative;
    bottom: 2rem;
}

#character {
    transition: left 300ms ease, top 300ms ease;
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7950F2;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
    width: 50rem;
    height: 33rem;
}

.modal-head {
    display: flex;
    justify-content: space-between;
}

.avatar-container {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: #F4EEE4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.avatar-container img {
    width: 100%;
}

.question-text {
    margin-top: 2rem;
    font-size: 2.5rem;
    width: 60%;
    color: #F4EEE4;
}

.question-problem {
    margin-top: 2rem;
    font-size: 5rem;
    width: 100%;
    color: #F4EEE4;
    text-align: center;
}

.question-buttons-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.question-buttons-container button {
    width: 12rem;
    height: 6rem;
    border-radius: 2rem;
    font-size: 3rem;
    text-align: center;
    padding: 0;
    background-color: #FA9308;
    color: #F4EEE4;
    transition: background-color 500ms;
}

.wrong {
    background-color: #EB4040;
}

.correct {
    background-color: #51F254;
}
